/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, li {
  font-family: "Noto Serif", Georgia, serif;
  color: #434343; }

label, input {
  font-family: "Open Sans", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #434343; }

h2.green {
  color: #7ccc20; }

h2.blue {
  color: #237ecc; }

h2.red {
  color: #d24d26; }

h2.yellow {
  color: #f7b341; }

ul {
  list-style-type: square; }

.swatch {
  display: block;
  width: 80px;
  height: 80px;
  background: #ccc;
  overflow: hidden;
  clear: both; }

dl {
  display: block;
  clear: both;
  margin-bottom: 100px; }

dt, dd {
  float: left;
  padding: 5px; }

dt {
  font-weight: bold;
  font-size: .9em;
  width: 80px;
  text-align: right; }

dd {
  margin-left: 0; }

.spectafy-blue {
  background: #237ecc; }

.spectafy-green {
  background: #7ccc20; }

.spectafy-red {
  background: #d24d26; }

.spectafy-yellow {
  background: #f7b341; }

.primary-font {
  background: #434343; }

.secondary-font {
  background: #aaaaaa; }

.discreet-font {
  background: #b7b7b7; }

.btn-primary {
  background-color: #237ecc;
  border: none;
  color: #FFFFFF;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease; }

.btn-primary:hover {
  background-color: #f7b341; }

.btn-success {
  background-color: #7ccc20;
  border: none;
  color: #FFFFFF;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease; }

.btn-success:hover {
  background-color: #5099d6; }

.btn-info {
  background-color: #5099d6;
  border: none;
  color: #FFFFFF; }

.btn-warning {
  background-color: #f7b341;
  border: none;
  color: #FFFFFF; }

.btn-danger {
  background-color: #d24d26;
  border: none;
  color: #FFFFFF; }

.btn-app {
  font-size: 18px;
  padding: 8px 15px 8px 15px; }

.btn-lg {
  font-size: 22px; }

.jumbotron.featuretron {
  height: 300px; }

.styleguide {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: left; }

.jumbotron.apptron {
  height: auto;
  background-color: #5099d6;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  background-image: url(/media/bg_tan_grid.png);
  border-bottom: 1px solid #e6e6e6;
  padding-top: 60px;
  padding-bottom: 60px; }
  .jumbotron.apptron .apptron_contents {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    height: 100%; }
    .jumbotron.apptron .apptron_contents h2 {
      vertical-align: middle;
      text-align: center;
      line-height: 40px;
      margin-top: 0px;
      margin-bottom: 0px; }

.onecolapp {
  margin-top: -1px; }
  .onecolapp .onecolapp_contents {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e6e6e6; }
    .onecolapp .onecolapp_contents .form-group {
      margin-bottom: 30px; }
    .onecolapp .onecolapp_contents .apptitle {
      padding: 5px 20px 13px 20px;
      border-bottom: 1px solid #e6e6e6; }
      .onecolapp .onecolapp_contents .apptitle h3 {
        color: #237ecc; }
    .onecolapp .onecolapp_contents .appcontainer {
      padding: 25px 20px 20px 20px;
      background-color: whitesmoke; }
      .onecolapp .onecolapp_contents .appcontainer p {
        color: #717272;
        font-size: 13px; }

.apporder .apporder_contents {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }
  .apporder .apporder_contents .app_content_main {
    width: 62.5%;
    display: inline-block;
    vertical-align: top; }
  .apporder .apporder_contents .app_content_aside {
    width: 37.1%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e6e6e6; }
    .apporder .apporder_contents .app_content_aside .aside_content {
      padding: 5px 15px 20px 15px; }
      .apporder .apporder_contents .app_content_aside .aside_content h3 {
        margin-top: 10px; }

img {
  max-width: 100%; }

@media all and (max-width: 767px) {
  .navbar .navbar-brand {
    margin-top: 10px; }

  .collapse {
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: 0px; }
    .collapse li {
      display: inline-block; }

  .navbar-header {
    width: 40%;
    display: inline-block; } }
@media all and (max-width: 570px) {
  .collapse {
    display: none; }

  .navbar-header {
    text-align: center;
    width: 100%; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: inherit; } }
@media all and (max-width: 1064px) {
  .jumbotron .jumbotron_contents .calltoaction {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%; } }
@media all and (max-width: 560px) {
  .jumbotron {
    background-image: none;
    background-color: whitesmoke;
    border-bottom: 1px solid #e6e6e6; }
    .jumbotron .jumbotron_contents {
      width: 100%;
      padding-bottom: 0px;
      padding-top: 30px; }
      .jumbotron .jumbotron_contents .calltoaction {
        width: 100%;
        margin-right: 0;
        margin-left: 0; } }
@media all and (max-width: 901px) {
  .valuepoint .valuepoint_content .value {
    width: 26%;
    margin-right: 9%; }
  .valuepoint .valuepoint_content .lastvalue {
    margin-right: 0px; } }
@media all and (max-width: 700px) {
  .valuepoint {
    padding-top: 0px;
    padding-bottom: 0px; }
    .valuepoint .valuepoint_content .value {
      width: 80%;
      margin-right: 0;
      margin-bottom: 50px; } }
@media all and (max-width: 666px) {
  .featuretwo {
    display: none; } }
@media all and (max-width: 935px) {
  .examples .examples_content .exampleset {
    width: 22%;
    margin-right: 5%; }
  .examples .examples_content h3 {
    font-size: 20px; } }
@media all and (max-width: 890px) {
  .examples .examples_content .exampleset {
    width: 45%;
    margin-right: 0px; }
  .examples .examples_content h1 {
    font-size: 30px; } }
@media all and (max-width: 666px) {
  .examples .examples_content .exampleset {
    width: 80%;
    margin-right: 0px; } }
@media all and (max-width: 1040px) {
  .signoff .signoff_content {
    width: 80%; } }
@media all and (max-width: 873px) {
  footer .footer_contents .foot {
    width: 32%; } }
@media all and (max-width: 540px) {
  .apporder .apporder_contents .app_content_main {
    width: 100%; }
  .apporder .apporder_contents .app_content_aside {
    width: 100%; } }
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .navbar .navbar-brand {
    background-image: url(/media/logosolo@2x.png);
    background-size: 75%;
    margin-top: 18px; } }
