// Components
// Modular components and their states. 
// These pieces should be able to be used anywhere. Things like: icons, buttons, messages, etc.

// Swatches



// Link styles


// 	first sign up
// :-moz-placeholder  { color: $secondary-blue; }
// ::-moz-placeholder  { color: $secondary-blue; }
// :-ms-input-placeholder  { color: $spectafy-blue; }
// ::-webkit-input-placeholder { color: $spectafy-blue; }
