// Shared styles and dependencies
// Globaly used variables, mixins, and functions


// Metrics


// Typography
	$primary-sans:			'Open Sans', Arial, sans-serif;
	$primary-serif:			'Noto Serif', Georgia, serif;

	// [Compass] Vertical rhythm set up
	// Change these values to whatever you want for your proj
	// $base-font-size:				16px;
	// $base-line-height:				24px;
	// $default-rhythm-border-style:	solid;
	// $relative-font-sizing:			true;

// Colors
	// The impel standard colors
	$primary-color:		#237ecc; // blue accent
	$secondary-color:	#333333; // gray for main fonts
	
	$spectafy-blue:		#237ecc;
	$spectafy-l-blue:	#5099d6;

	$spectafy-red:		#d24d26;
	$spectafy-yellow:	#f7b341;

	$spectafy-green:	#7ccc20;	
	$spectafy-l-green:	#afdf79;
	$spectafy-d-green:	#47A447; // success hovers


	$primary-font:		#434343; // p, titles
	$secondary-font:	#aaaaaa; // copyright
	$tertiary-font:		#717272; // navigation
	$discreet-font:		#b7b7b7; // footer
	
	$borders:			#e6e6e6; // borders
	$secondary-bg:		#f5f5f5; // highlighted gray background

	





@mixin inner-content {
	max-width:1000px;
	width:90%;
	margin:0 auto;
}
@mixin transformers {
	transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
}
// font-family: "open-sans",sans-serif;
// font-style: normal;
// font-weight: 400;