// baseline typography
p,li {
	font-family:$primary-serif;
	color:$primary-font;
}
label, input {
	font-family:$primary-sans;
}
h1, h2, h3, h4, h5, h6 {
	font-family:$primary-sans;
	color:$primary-font;
}
	h2.green {
		color:$spectafy-green;
	}
	h2.blue {
		color:$spectafy-blue;
	}
	h2.red {
		color:$spectafy-red;
	}
	h2.yellow {
		color:$spectafy-yellow;
	}
ul {
	list-style-type: square;
}
