// CAES Starter set up
// This is the base file that pulls together all the other elements.

@import 'vendor';				// Select which vendor libraries to include here
@import 'dependencies';			// Global variables and shared styles
@import 'foundation';			// Structural CSS
@import 'typography';			// Responsive styles
@import 'components';			// Reusable pieces, i.e. icons, buttons
@import 'regions';				// Page region styles
@import 'responsive';			// Responsive styles




// -----------------------------------------------------------------
//
// For the starter template. You can remove the below from any real proj 
//
// -----------------------------------------------------------------

//Cheaters
// service message
#service-message {
  background-color:transparentize($ucdavis-gold, 0.5);
  background-image:none;
}
.jumbotron {
	padding-top:1rem;
	p {
		color:#fff;
	}
}
.click-menu > a.col-lg-4 {
	background-color:#fff;
	border:none;
}
ul.nav .nav-pills .pull-right {
	li {
		padding:0px .5rem 0px .5rem;
		a {
			padding: 1.5rem .5rem 1rem .5rem;
		}
	}
	li.active a {
		border-bottom:solid 5px $ucdavis-gold;
	}
}